/* RESETTING DEFAULT RULES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* COLOR SCHEME */

:root {
    --as-Chaleston-Green: rgb(11, 32, 39);
    --as-Teal-Blue: rgb(64, 121, 140);
    --as-Green-Sheen: rgb(112, 169, 161);
    --as-Ash-Grey: rgb(207, 215, 199);
    --as-Corn-Orange: rgb(241, 81, 82);
}

/* GENERAL */

html {
    font-size: 62.5%;
  }  
  
  body {
    /* Visual */
    background-color: var(--as-Teal-Blue);
    /* Typographic */
    font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
    color: var(--as-Black-Coffee);
  
  }
