

.Gallery__display {
    /* Box model */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.Gallery__title {
    /* Positioning */
    margin-top: 1rem;
    margin-bottom: 3rem;
    /* Typographic */
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
}

.Gallery__buttonBar {
    /* Box model */
    display: flex;
    flex-direction: row;
    /* align-content: center;
    align-items: center; */
    justify-content: center;

}

.Gallery__button {
    /* Positioning */
    padding: 1rem 2rem 1rem 2rem;
    margin-right: 3rem;
    /* Visual */
    background-color: var(--as-Ash-Grey);
    border: none;
    /* Typographic */
    font-size: 1.5rem;
    /* Other */
    cursor: pointer;
}

.Gallery__button:hover {
    /* Visual */
    background-color: var(--as-Corn-Orange);
}